.sale {
	margin-bottom: 190px;
	background: linear-gradient(
		0deg,
		rgb(224, 195, 64),
		rgb(223, 194, 62) 3.929%,
		rgb(225, 196, 65) 7.229%,
		rgb(227, 199, 67) 10.229%,
		rgb(228, 197, 66) 13.141%,
		rgb(230, 199, 68) 16.223%,
		rgb(231, 200, 69) 19.84%,
		rgb(229, 198, 67) 24.383%,
		rgb(230, 201, 69) 30.996%,
		rgb(227, 199, 67) 37.194%,
		rgb(233, 202, 72) 43.333%,
		rgb(237, 206, 73) 50.359%,
		rgb(240, 212, 76) 56.569%,
		rgb(244, 216, 79) 62.712%,
		rgb(246, 218, 82) 67.124%,
		rgb(247, 219, 83) 73.767%,
		rgb(249, 221, 85) 79.08%,
		rgb(249, 223, 86) 85.645%,
		rgb(250, 225, 87) 93.496%,
		rgb(249, 223, 86) 100%
	);
}

.sale__inner {
	display: flex;
	justify-content: space-between;
}

.sale__content {
	padding: 130px 200px 155px 0;
}

.sale__title {
	font-size: 111.61px;
	font-weight: 900;
	line-height: 137.19px;
	color: var(--text-color);
	max-width: 594px;
	margin-bottom: 30px;
}

.sale__title .highlight::before {
	right: -60px;
}

.sale__text,
.sale__date {
	color: #231300;
	margin-bottom: 40px;
	font-size: 34px;
	font-weight: 500;
	line-height: 52.32px;
	max-width: 643px;
}

.sale__date {
	color: var(--text-color);
	font-weight: 700;
	font-style: normal;
}

.sale__button {
	display: inline-block;
	font-size: 28px;
	font-weight: 700;
	line-height: 42px;
	color: #fff;
	padding: 25px 50px;
	background-color: var(--text-color);
	border-radius: 8px;
}

@media (max-width: 1500px) {
	.sale__img {
		display: none;
	}
	.sale__content {
		padding: 40px;
		width: 100%;
		text-align: center;
	}
	.sale__text,
	.sale__date,
	.sale__title {
		margin: 0 auto 40px;
	}
}

@media (max-width: 768px) {
	.sale__title {
		font-size: 80px;
		line-height: 100px;
		max-width: 530px;
	}
	.sale__text,
	.sale__date {
		font-size: 28px;
		line-height: 44px;
	}
}

@media (max-width: 550px) {
	.sale {
		margin-bottom: 70px;
	}
	.sale__text,
	.sale__date,
	.sale__title {
		margin: 0 auto 30px;
	}
	.sale__title {
		font-size: 50px;
		line-height: 70px;
	}
	.sale__text,
	.sale__date {
		font-size: 21px;
		line-height: 32px;
	}
}
