.brands {
	background-color: var(--yellow);
	padding: 60px 0 55px;
	margin-bottom: 120px;
}

.brands__list {
	display: flex;
	justify-content: space-between;
	mix-blend-mode: multiply;
	flex-wrap: wrap;
	row-gap: 25px;
}

@media (max-width: 992px) {
	.brands {
		padding: 40px 0;
	}
}

@media (max-width: 500px) {
	.brands {
		margin-bottom: 70px;
	}
}
