:root {
	--text-color: #000;
	--yellow: #ebd96b;
}

body {
	font-family: "Poppins", sans-serif;
	color: var(--text-color);
}

.container {
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 20px;
}

.title {
	font-size: 48px;
	font-weight: 900;
	line-height: 50px;
	letter-spacing: 6%;
	color: var(--text-color);
	text-transform: uppercase;
	margin-bottom: 115px;
	position: relative;
	display: inline-block;
}

.title::after {
	content: "";
	position: absolute;
	width: 190px;
	height: 32px;
	right: 0;
	bottom: -10px;
	background-image: url(../img/icons/decor-yellow.svg);
	z-index: -1;
}

@media (max-width: 768px) {
	.title {
		margin-bottom: 70px;
	}
}
