.contacts {
	padding: 140px 150px;
	background-color: #e5c643;
	color: #fff;
	text-align: center;
}

.contacts__title {
	font-size: 55px;
	font-weight: 900;
	line-height: 70px;
	letter-spacing: 3%;
	max-width: 970px;
	margin: 0 auto 35px;
}

.contacts__text {
	font-size: 32px;
	font-weight: 400;
	line-height: 35px;
	margin-bottom: 45px;
}

.contacts__form {
	position: relative;
	width: 575px;
	margin: 0 auto;
}

.contacts__input {
	border: none;
	background-color: #fff;
	padding: 30px 170px 30px 27px;
	width: 575px;
	border-radius: 10px;
}

.contacts__input::placeholder {
	color: #767676;
	font-size: 24px;
	font-weight: 400;
	line-height: 35px;
}

.contacts__button {
	font-size: 33px;
	font-weight: 500;
	line-height: 35px;
	padding: 15px 35px;
	background-color: var(--text-color);
	border-radius: 8px;
	color: #fff;
	position: absolute;
	right: 10px;
	top: 8px;
}
